<!DOCTYPE html>
<html lang="en">        
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin Portal</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-icons.css">
        <link rel="icon" href="css/bootstrap-icons.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center">Add Product</h1>
                </div>
                <form ACTION="/addproduct" method="post"   class="row g-3">
                    <div class="col-md-6">
                      <label for="inputEmail4" class="form-label">Product Name</label>
                      <input name ="name" type="text" class="form-control" id="inputEmail4">
                    </div>
                    <div class="col-md-6">
                      <label for="inputPassword4" class="form-label">Product Price</label>
                      <input name="price" type="text" class="form-control" id="inputPassword4">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Product Description</label>
                      <input name="description" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                    </div>
                    <div class="col-12">
                      <label for="inputAddress2" class="form-label">Product Image</label>
                      <input name="image" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
                    </div>
                    <div class="col-md-6">
                      <label for="inputCity" class="form-label">Product Category</label>
                      <input name="category" type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Product Quantity</label>
                      <input name="quantity" type="text" class="form-control" id="inputState">
                    </div>
                    <div class="col-md-2">
                      <label for="inputZip" class="form-label">Product Status</label>
                      <input name="status" type="text" class="form-control" id="inputZip">
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Product</button>
                    </div>
                  </form>
            </div>
        </div>
    </body>
</html>